##Problem 2: Highest Salary from Employee Data

In [1]:
#Eployee dictionary
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

In [2]:
#Find highest salary
highest_employee = max(employees, key=employees.get)
highest_salary = employees[highest_employee]

In [3]:
#output
print("Highest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000